@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(wolf2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(wolf2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
}
.navigation-logo {
  padding-left: 70px;
}
.page-header {
  background-color: #ffffff;
  width: 1200px;
  height: 70px;
  display: flex;
  background-repeat: no-repeat;
}
.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.navigation-list {
  list-style-type: none;
  color: #000000;

}
.navigation-link-current {
text-decoration: none;
color: #000000;

}
.navigation-item {
  display: inline;
  text-decoration: none;
  font-weight: 700;
font-size: 20px;
line-height: 26px;
}
.navigation-user {
padding-right: 70px;
display: flex;
align-items: center;
}
.user-menu {
display: flex;
padding-right: 19px;
}
.want-to-go-button {
  width: 160px;
  height: 37px;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation-link {
  color:#000000;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

}

.about {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}
.reasons {
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
}
.main-reasons-1-2 {
  width: 400px;
  height: 384px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
}
.reason {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.about-reasons-item-eat {
  background-color: #ffffff;
  width: 400px;
  height: 384px;
  text-align: center;

}
.about-reasons-item {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  text-transform: inherit;
  text-align: center;
}
.about-reasons-desc {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: inherit;
}
.main-reasons {
  width: 400px;
  height: 384px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);;
  text-align: center;
}
.five-reasons {
  list-style-type: none;
}
.about-reasons-list {
  list-style-type: none
}
.offer-list {
  text-align: center;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.offer {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
}
.about-offer {
font-weight: 400;
font-size: 22px;
line-height: 26px;
}
.button-find-hotell {
width: 574px;
height: 60px;
background: #756157;
border-radius: 4px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
color: #ffffff;
text-align: center;
text-transform: uppercase
}
.subs {
  background-image: url(../images/background-footer.jpg);
  width: 1200px;
  height: 411px;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.subs-cont {
  padding:94px;
  color: #ffffff;
  background-repeat: no-repeat;

}
.subs-title {
text-transform: uppercase;
font-weight: 700;
font-size: 30px;
line-height: 36px;
}
.subs-info {
font-weight: 400;
font-size: 22px;
line-height: 26px;
}
.field {
width: 600px;
height: 60px;
border-radius: 0px 10px 10px 0px;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #000000;

padding-left: 22px;
margin-left: 222px;

}
.subs-button {
background-color: #82B3D3;
border-radius: 0px 10px 10px 0px;
width: 200px;
height: 60px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.page-footer {
width: 1060px;
display: flex;
}
.footer-social-list {
width: 142px;
height: 40px;
display: flex;


}
.footer-social-item {
  width: 47px;
  height: 40px;
  list-style-type: none;

}

.footer-contacts {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 720px;

}

.contact-phone {
  text-align: center;
  color: #000000;
  text-decoration: none;
}



.catalog-bg {
  background-image: url(../images/catalog-background\ 1.jpg);
  color: #FFFFFF;
}
.inner-header-title {
font-weight: 700;
font-size: 60px;
line-height: 78px;
}
.breadcrumbs {
  list-style-type: none;
  display: flex;
}
.breadcrumbs-item {
  margin: 10px;
  display: flex;
}
.breadcrumbs-link {
  display: flex;
}
.catalog-filter-title {
  font-weight: 700;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;
color: #FFFFFF;
}
.control {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
.button-to-apply {
background-color: #82B3D3;
border-radius: 4px;
width: 160px;
height: 48px;
color: #FFFFFF;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}
.reset-button {
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #ffffff;
background-color: transparent;
border: 0;
}
.test {
  width: 1057px;
  height: 49px;
  display: inline;

}
.search-results {
font-weight: 700;
font-size: 30px;
line-height: 36px;
color:#000000
}
.select-control {
font-weight: 400;
font-size: 18px;
line-height: 21px;
border: 2px solid #E5E5E5;
border-radius: 4px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 14px 20px;
gap: 94px;
}
.hotel-list {
  list-style-type: none;
}
.hotel-card-link {
  text-decoration: none;
  color: #000000;
}
.hotel-card-title {
  font-weight: 700;
font-size: 24px;
line-height: 28px;
}
.hotel-type {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
}
.button-hotel-details {
background-color: #756157;
border-radius: 4px;
color: #FFFFFF;
width: 140px;
height: 37px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
}
.fav-card-button  {
background: #82B3D3;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #ffffff;
text-transform: uppercase;
width: 140px;
height: 37px;
text-align: center;
}
.hotel-rating {
  background-color: #F2F2F2;
border-radius: 4px;
width: 140px;
height: 37px;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
display: flex;
}
.hotel-stars {
  text-align: center;
  display: flex;
}
.pagination-item {
  display: inline;
  width: 60px;
height: 60px;
}
.pagination-link {
background: #82B3D3;
border: 1px solid #82B3D3;
border-radius: 4px;
font-weight: 700;
font-size: 20px;
line-height: 36px;
color: #ffffff;
text-decoration: none;
align-items: center;
text-align: center;
text-transform: uppercase;
}
.subs-cont {
  padding:94px;
  color: #000000;
  background-repeat: no-repeat;
}
.subs-cat {
  width: 1200px;
  height: 411px;
  text-align: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

}
